@media screen and (max-width: 1920px){
    footer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #E3F1FF;
        img{
            width: 4.5%;
            height: auto;
            margin-block: 1vh;
        }
        p{
            font-family: 'IBM Plex Mono';
            color: #64748B;
            font-size: 1vw;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                font-weight: 600;
                color: #1E293B;
                transition: 0.2s;
            }
        }
    }
}



