footer{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E3F1FF;
    img{
        height: 90%;
        height: 3rem;
    }
    p{
        font-family: 'IBM Plex Mono';
        color: #64748B;
        font-size: 1vw;
    }
}