.Catalog{
    width: 100% !important;
    height: 9.2rem !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    font-family: 'IBM Plex Mono' !important;
    p{
        width: 77% !important;
        font-size: 1.57rem !important;
        font-weight: 600 !important;
    }
    .swiper {
        width: 72% !important;
        height: 10vh !important;
    }
    .swiperslide {
        height: 9vh !important;
        text-align: center !important;
        font-size: 1rem !important;
        color: #0EA5E9 !important;
        background: #F0F9FF !important;
        display: flex !important;
        border-bottom: 0.2rem solid #0EA5E9 !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 0.3rem !important;
    }
    .swiperbuttonprev, .swiperbuttonnext {
        margin-top: 0vh !important;
        margin-inline: 0vw !important;
        width: 40px !important;
        height: 40px !important;
        background: #ffffff !important;
        border: 0px solid #007bff !important;
        cursor: pointer !important;
        transition: all 0.3s ease !important;
    }
    .swiperbuttonprev{
        position: absolute;
        left: 10rem;
        top: 28rem;
    }
    .swiperbuttonnext{
        position: absolute;
        left: 73rem;
        top: 28rem;
    }
}