.Drug{
    width: 100% !important;
    height: 28rem !important;
    display: flex !important;
    flex-wrap: wrap !important;
    background-color: aqua;
    justify-content: center !important;
    font-family: 'IBM Plex Mono' !important;
    p{
        width: 77% !important;
        font-size: 1.57rem !important;
        font-weight: 600 !important;
    }
    .swiper {
        width: 72% !important;
        height: 25rem !important;
        background-color: #0EA5E9;
    }
    .swiperslide {
        height: 24rem !important;
        text-align: center !important;
        font-size: 1rem !important;
        color: #034b6d !important;
        background: #F0F9FF !important;
        display: flex !important;
        flex-wrap: wrap;
        border-bottom: 0.2rem solid #0EA5E9 !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 0.3rem !important;
        img{
            width: 100%;
        }
        p{
            text-align: left;
            &:first-of-type{
                width: 90% !important;
                font-size: 1rem !important;
            }
            &:nth-of-type(2){
                width: 90% !important;
                font-size: 1rem !important;
            }
            &:last-of-type{
                width: 90% !important;
                font-size: 1rem !important;
            }
        }
    }
    .swiperbuttonprev, .swiperbuttonnext {
        margin-top: 0vh !important;
        margin-inline: 0vw !important;
        width: 40px !important;
        height: 40px !important;
        background: #ffffff !important;
        border: 0px solid #007bff !important;
        cursor: pointer !important;
        transition: all 0.3s ease !important;
    }
    .swiperbuttonprev{
        position: absolute;
        left: 10rem;
        top: 35rem;
    }
    .swiperbuttonnext{
        position: absolute;
        left: 73rem;
        top: 35rem;
    }
}