.Search{
    width: 100%;
    height: 49vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    div{
        width: 60%;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        p, input{
            font-family: 'IBM Plex Mono';
        }
        p:first-of-type{
            font-size: 2.1rem;
            font-weight: 600;
        }
        p:last-of-type{
            font-size: 1.1rem;
            font-weight: 500;
            color: #888888;
        }
        div{
            width: 53%;
            height: 2.7rem;
            justify-content: space-evenly;
            border: 0.2rem solid #CBD5E1;
            border-radius: 0.4rem;
            display: flex;
            align-items: center;
            align-content: center;
            padding: 0 0.5rem;
            box-sizing: border-box;
            transition: all 0.3s ease;
            &:focus-within {
                border: 0.2rem solid #0B8BC4;
            }
            &:hover {
                border: 0.2rem solid #0B8BC4;
            }
            img{
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
                cursor: pointer;
            }
            input{
                width: 100%;
                flex: 1;
                border: 0;
                outline: none;
                background: transparent;
                font-size: 1rem;
                font-family: 'IBM Plex Mono';
                &:focus{
                    border: none;
                    outline: none;
                }
                &::placeholder{
                    color: #888;
                    font-family: 'IBM Plex Mono';
                }
            }
        }
    }
}

.Catalog{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'IBM Plex Mono';
    p{
        width: 77%;
        font-size: 1.57rem;
        font-weight: 600;
    }
}
.swiper {
  width: 70% !important;
  height: 10vh !important;
}

.swiper-slide {
    height: 9vh !important;
    text-align: center !important;
    font-size: 1rem !important;
    color: #0EA5E9 !important;
    background: #F0F9FF !important;
    display: flex !important;
    border-bottom: 0.2rem solid #0EA5E9 !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 0.3rem !important;
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.swiper-button-prev, .swiper-button-next {
    margin-top: 24vh !important;
    margin-inline: 11vw !important;
    width: 40px !important;
    height: 40px !important;
    background: #ffffff00 !important;
    border: 0px solid #007bff !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}
