.Search{
    width: 100%;
    height: 18.4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    div{
        width: 60%;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        p, input{
            width: 100%;
            text-align: center;
            font-family: 'IBM Plex Mono';
        }
        p:first-of-type{
            font-size: 2.1rem;
            font-weight: 600;
        }
        p:last-of-type{
            font-size: 1.1rem;
            font-weight: 500;
            color: #888888;
        }
        div{
            width: 53%;
            height: 2.7rem;
            justify-content: space-evenly;
            border: 0.2rem solid #CBD5E1;
            border-radius: 0.4rem;
            display: flex;
            align-items: center;
            align-content: center;
            padding: 0 0.5rem;
            box-sizing: border-box;
            transition: all 0.3s ease;
            &:focus-within {
                border: 0.2rem solid #0B8BC4;
            }
            &:hover {
                border: 0.2rem solid #0B8BC4;
            }
            img{
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.5rem;
                cursor: pointer;
            }
            input{
                width: 100%;
                flex: 1;
                border: 0;
                outline: none;
                background: transparent;
                font-size: 1rem;
                font-family: 'IBM Plex Mono';
                text-align: left;
                &:focus{
                    border: none;
                    outline: none;
                }
                &::placeholder{
                    color: #888;
                    font-family: 'IBM Plex Mono';
                }
            }
        }
    }
}



