.Catalog{
    width: 100%;
    height: 80vh;
    background-color: brown;
    .a.selected{
        width: 1200px;
        margin: 13px;
    }
    .parent {
        width: 100px;
        border:solid
    }
}